@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

:root{
  --green1: #A1B084;
  --green2: #919E78;
  --green3: #7F8A68;
  --green4: #677154;
  --green5: #4D5416;
  --crema: #F4EEE0;
  --ocra1: #D2C38D;
  --ocra2: #B49B3E;
  --rosso1: #98493B;
  --rosso2: #823626;
}

.main{
  background-color: black;
}

.landing{
  background-image: url("Camelia2.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.home { 
  color: var(--ocra1);
  font-family: 'Playfair Display';
  font-size: 300%;
  margin: 5%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.subtitle{
  font-family: 'Montserrat';
  font-size: 40%;
  color: var(--ocra1);
  margin: 3% 3% 3% 0;
}

.description{
  margin: 0 20% 0 0;
  font-size: 40%;
  color: var(--crema);
  font-family: 'Montserrat';
}

.button {
  border: none;
  color: var(--green2);
  background-color: black;
  font-weight: bold;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 150%;
  cursor: pointer;
  font-family: 'Montserrat';
  cursor: pointer;
}


.button:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--green2);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.button {
  border: none;
  color: var(--green2);
  background-color: rgba(0, 0 ,0, 0);
  font-weight: bold;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 40%;
  cursor: pointer;
  font-family: 'Montserrat';
  cursor: pointer;
}


.button:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--green2);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.mySlidesPsico {display:none;}
.mySlidesSessuo {display:none;}