@use 'sass:list';
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

$green: #C3C9AA;
$ocra: #F3EDDA;
$brown: #482A0E;
$primary-font: 'Playfair Display';
$base-margin: 3%;
$base-font-size: 120%;

body, html {
  height: 100%;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: $ocra;
  scroll-behavior: smooth;
}

/*
SECTION: animations
*/

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

#aboutme-cs, #aboutme-ap, #aboutme-f {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.6s ease-in-out;
}

#aboutme-cs {
  transform: translateX(0);
}

#aboutme-ap {
  transform: translateX(-100%);
}

#aboutme-f {
  transform: translateX(100%);
}


/*
SECTION: backgrounds
*/

$bg-images: (
//name:       (image         , size     , position     , padding        , margin      )
  chisono:    ('media/3.png' , 30% auto , right bottom , 0% 5% 2% 0%    , 0% 0% 5% 0% ),
  approccio:  ('media/9.png' , 25% auto , right top    , null           , 0% 0% 5% 0% ),
  formazione: ('media/11.png', 23% auto , right 80%    , 0% 5% 0% 0%    , 0% 0% 5% 0% ),
  dove:       ('media/15.png', 23% auto , right top    , 0% 2% 0% 0%    , 5% 0% 3% 5% ),
  aboutme:    ('media/2.png' , 50% auto , right bottom , 0% 10% 20% 0%  , 0% 0% 5% 5% ),
  left:       ('media/6.png' , 20% auto , left center  , 0% 0% 2% 7%    , 0% 0% 5% 0% ),
  right:      ('media/7.png' , 10% auto , right top    , 0% 12% 2% 0%   , 0% 0% 5% 0% ),
  contatti:   ('media/12.png', 32% auto , right top    , 0% 0.5% 2% 0%  , 2% 0% 0% 2% ),
  scrivimi:   ('media/13.png', 30% auto , right top    , 1% 3% 0% 0%    , 2% 0% 0% 2% ),
);

@mixin background-style($image, $size, $position, $padding:null, $margin:null) {
  position: relative;
  display: inline-block;
  background-image: url($image);
  background-size: $size;
  background-repeat: no-repeat;
  background-position: $position;
  @if $padding {padding: $padding};
  @if $margin {margin: $margin};
}

@each $name, $values in $bg-images {
  .background-#{$name} {
    @include background-style(list.nth($values, 1), list.nth($values, 2), list.nth($values, 3), list.nth($values, 4), list.nth($values, 5));
  }
}

.background-dove {
  font-size: $base-font-size;
}

.background-left {
  width: 25%;
  cursor: pointer;
}

.background-right {
  cursor: pointer;
}

/*
SECTION: grid containers
*/

$grids: (
//name:       (columns   , gap  , margin       , font-size            , line-height, place-items),
  landing:    (50% 50%   , null , null         , null                 , null       , null       ),
  buttons:    (auto auto , 15%  , 10% 0% 0% 0% , null                 , null       , null       ),
  formazione: (30% 70%   , null , null         , null                 , null       , null       ),
  cs:         (60% 40%   , null , 7% 5% 0% 5%  , $base-font-size      , 1.6        , null       ),
  titles:     (50% 50%   , null , 5% 0% 0% 0%  , null                 , null       , center     ),
  online:     (40% 60%   , 10%  , 5% 5% 0% 5%  , 140%                 , 1.6        , null       ),
  f:          (60% 40%   , null , 5% 5% 0% 5%  , $base-font-size      , 1.6        , null       ),
  dove:       (60% 40%   , 10%  , 2% 5% 0% 5%  , $base-font-size      , 1.6        , null       ),
  contatti:   (70% 40%   , null , null         , 125%                 , 1.7        , null       ),
  form:       (49% 49%   , 2%   , 3% 5% 0% 5%  , null                 , null       , center     ),
  button:     (90% 10%   , 2%   , 5% 5% 0% 5%  , null                 , null       , center     ),
  submit:     (90% 10%   , null , 5% 5% 0% 5%  , null                 , null       , center       ),
  msg:        (100% 0%   , null , 5% 5% 0% 5%  , null                 , null       , center     ),
); 


@mixin grid-layout($columns, $gap: null, $margin: null, $font-size: null, $line-height: null, $place-items: null) {
  display: grid;
  grid-template-columns: $columns;
  @if $gap { column-gap: $gap; }
  @if $margin { margin: $margin; }
  @if $font-size { font-size: $font-size; }
  @if $line-height { line-height: $line-height; }
  @if $place-items { place-items: $place-items; }
}

@each $name, $values in $grids {
  .grid-container-#{$name} {
    @include grid-layout(list.nth($values, 1), list.nth($values, 2), list.nth($values, 3), list.nth($values, 4), list.nth($values, 5), list.nth($values, 6));
  }
}

.grid-container-landing {
  background-color: $green;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container-buttons {
  background-color: $green;
}

.grid-container-online > div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}

/*
SECTION: icons
*/
$icons: (
//name:          (width, height, margin     , padding     , position , bottom , right , animation                          , justify-self)
  titles-icons:  (50%  , auto  , null       , null        , null     , null   , null  , null                               , end         ),
  logo:          (30%  , auto  , null       , 16% 0 0 4%  , null     , null   , null  , 1s ease-out 0s 1 slideInFromLeft   , null        ),
  divano:        (20%  , auto  , null       , null        , absolute , 15%    , 10%   , 1s ease-out 0s 1 slideInFromTop    , null        ),
  libri:         (50%  , auto  , 15% 0 0 0  , null        , null     , null   , null  , null                               , null        ),
  protrait:      (40%  , auto  , 0 0 10% 0  , null        , null     , null   , null  , null                               , null        ),
  bussola:       (40%  , auto  , null       , null        , null     , null   , null  , null                               , null        ),
  location:      (50%  , auto  , null       , null        , null     , null   , null  , null                               , null        ),
  windows:       (60%  , auto  , null       , null        , null     , null   , null  , null                               , null        ), 
  icon-contatti: (60%  , auto  , null       , null        , null     , null   , null  , null                               , null        ),
);

@mixin icon-style($width, $height: auto, $margin: null, $padding: null, $position: null, $bottom: null, $right: null, $animation: null, $justify-self: null) {
  width: $width;
  height: $height;
  @if $margin { margin: $margin; }
  @if $padding { padding: $padding; }
  @if $position { position: $position; }
  @if $bottom { bottom: $bottom; }
  @if $right { right: $right; }
  @if $animation { animation: $animation; }
  @if $justify-self { justify-self: $justify-self; }
}

@each $name, $values in $icons {
  .#{$name} {
    @include icon-style(list.nth($values, 1), list.nth($values, 2), list.nth($values, 3), list.nth($values, 4), list.nth($values, 5), list.nth($values, 6), list.nth($values, 7), list.nth($values, 8), list.nth($values, 9));
  }
}

/*
SECTION: text
*/

@mixin text-shadow($x: 2px, $y: 2px, $blur: 4px, $color: rgba(0, 0, 0, 0.5)) {
  text-shadow: $x $y $blur $color;
}

@mixin uniform-margin($size) {
  margin: $size $size $size $size;
}

@mixin title-style($size, $weight: 600) {
  font-size: $size;
  font-weight: $weight;
}


.home {
  color: black;
  font-family: $primary-font;
  font-size: 400%;
  @include uniform-margin(10%);
  @include text-shadow();
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.subtitle {
  font-size: 50%;
  @include text-shadow(0px, 0px, 0px);
  color: $brown;
  @include uniform-margin($base-margin);
}

.titles {
  @include title-style(170%);
}
.titles-bigger {
  @include title-style(200%);
}
.subtitles {
  @include title-style(150%);
}
.form-titles {
  @include title-style(120%);
}
.text-formazione {
  @include uniform-margin(5%);
  line-height: 1.7;
  font-size: $base-font-size;
  text-align: right;
}
.subtitle-contattami{
  margin: 1% 0 0 2%;
}


/*
SECTION: containers
*/
%base-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.aboutme-container {
  @extend %base-container;
}

.aboutme-container-green {
  @extend %base-container;
  background-color: $green;
}

@mixin base-squared-container($background-color:$ocra){
  background-color: $background-color;
  border-radius: 15px;
  border-color: $background-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 3%;
  display: flex;
  flex-direction: column; 
  margin: 0 10% 0 10%;
}

.squared-container {
  @include base-squared-container;
  max-width: 80%;
}
.squared-container-green{
  @include base-squared-container($green);
  margin: 2%
}

.form-squared-container {
  @include base-squared-container;
  margin:0;
  width: 100%;
  box-sizing: border-box;
}


.button {
  background-color: $ocra;
  border-color: $ocra;
  border-style: solid;
  font-size: 30%;
  color: $brown;
  border-radius: 10px; 
  padding: 5% 0 5% 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align:middle
}

.submit-button {
  background-color: $ocra;
  border-color: $ocra;
  border-style: solid;
  font-size: 100%;
  font-weight: bold;
  border-radius: 10px; 
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 10% 30% 10% 30%;
}

.distributed-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 120%;
}

.contact-container{
  margin: 0% 0% 3% 4%;
}

/*
SECTION: righe colorate
*/
$icons: (
  //name: (background-color)
  tile-1: (#FFFFF3),
  tile-2: (#F6F8E6),
  tile-3: (#ECEFD8),
  tile-4: (#E2E6CA),
  tile-5: (#D8DDBC),
);

@mixin icon-style($background-color) {
  background-color: $background-color;
}

@each $name, $values in $icons {
  .#{$name} {
    height: 100%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    @include icon-style(list.nth($values, 1));
  }
}


/*
SECTION: utilities
*/
.right-aligned {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.left-aligned {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.center-aligned {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/*TODO: da sistemare*/

fieldset{
  background-color: $green;
  border: none;
  width: 100%;
}

input{
  border: none;
}

p{
  margin: 0% 1% 1% 0;
}

/*header*/

/* Styling for the navigation menu container */
.nav-links {
  display: flex; /* Using flexbox for a horizontal menu layout */
  align-items: center; /* Aligning the menu items vertically in the center */
  background: $ocra; /* White background for the menu */
  padding: 2% 1%; /* Padding around the menu for spacing */
  border-radius: 12px; /* Soft rounded corners for a modern look */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Slight shadow for a 3D floating effect */
  margin: 5%;
}
/* Styling for individual menu items (li) */
.nav-links li {
  list-style: none; /* Removing default list styles (bullets) */
  margin: 0 12px; /* Adding space between menu items */
}
/* Styling for the links inside the navigation menu */
.nav-links li a {
  position: relative; /* For positioning the hover effect */
  color: #5A3E36; /* Warm brown text color for a friendly, natural look */
  font-size: 20px; /* Font size for readability */
  font-weight: 500; /* Medium weight for a balanced look */
  padding: 6px 0; /* Padding for clickable area around the text */
  text-decoration: none; /* Removing the default underline from links */
}
/* Hover effect for menu links - underlining animation */
.nav-links li a:before {
  content: ''; /* Empty content for the underline effect */
  position: absolute; /* Positioning relative to the link */
  bottom: 0; /* Placing the line at the bottom of the link */
  left: 0; /* Starting from the left */
  height: 3px; /* Height of the underline */
  width: 0%; /* Initial width (invisible) */
  background: #FFB830; /* Warm yellow underline to match the friendly pet care vibe */
  border-radius: 12px; /* Rounded corners for the line */
  transition: all 0.4s ease; /* Smooth transition for the animation */
}
/* Hover state - animates the underline to grow across the link */
.nav-links li a:hover:before {
  width: 100%; /* Expands the line to cover the entire link */
}
/* Special animation for the 'center' link (About Us) */
.nav-links li.center a:before {
  left: 50%; /* Start from the center */
  transform: translateX(-50%); /* Adjust position to keep it centered */
}
/* Hover effect for the 'upward' link - makes the line visible and moves it up */
.nav-links li.upward a:hover:before {
  bottom: 0px; /* Moves the line to the bottom of the link */
  opacity: 1; /* Makes the line visible */
}
/* Special animation for the 'forward' link (Contact) */
.nav-links li.forward a:before {
  width: 100%; /* Full width line */
  transform: scaleX(0); /* Initially scaled to 0 (invisible) */
  transform-origin: right; /* Starting from the right */
  transition: transform 0.4s ease; /* Smooth scaling effect */
}
/* Hover effect for the 'forward' link - scales the line to full width */
.nav-links li.forward a:hover:before {
  transform: scaleX(1); /* Expands the line to full width */
  transform-origin: left; /* Expands from left to right */
}