@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
body, html {
  height: 100%;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #F3EDDA;
  scroll-behavior: smooth;
}

/*
SECTION: animations
*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
#aboutme-cs, #aboutme-ap, #aboutme-f {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.6s ease-in-out;
}

#aboutme-cs {
  transform: translateX(0);
}

#aboutme-ap {
  transform: translateX(-100%);
}

#aboutme-f {
  transform: translateX(100%);
}

/*
SECTION: backgrounds
*/
.background-chisono {
  position: relative;
  display: inline-block;
  background-image: url("media/3.png");
  background-size: 30% auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 0% 5% 2% 0%;
  margin: 0% 0% 5% 0%;
}

.background-approccio {
  position: relative;
  display: inline-block;
  background-image: url("media/9.png");
  background-size: 25% auto;
  background-repeat: no-repeat;
  background-position: right top;
  margin: 0% 0% 5% 0%;
}

.background-formazione {
  position: relative;
  display: inline-block;
  background-image: url("media/11.png");
  background-size: 23% auto;
  background-repeat: no-repeat;
  background-position: right 80%;
  padding: 0% 5% 0% 0%;
  margin: 0% 0% 5% 0%;
}

.background-dove {
  position: relative;
  display: inline-block;
  background-image: url("media/15.png");
  background-size: 23% auto;
  background-repeat: no-repeat;
  background-position: right top;
  padding: 0% 2% 0% 0%;
  margin: 5% 0% 3% 5%;
}

.background-aboutme {
  position: relative;
  display: inline-block;
  background-image: url("media/2.png");
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 0% 10% 20% 0%;
  margin: 0% 0% 5% 5%;
}

.background-left {
  position: relative;
  display: inline-block;
  background-image: url("media/6.png");
  background-size: 20% auto;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0% 0% 2% 7%;
  margin: 0% 0% 5% 0%;
}

.background-right {
  position: relative;
  display: inline-block;
  background-image: url("media/7.png");
  background-size: 10% auto;
  background-repeat: no-repeat;
  background-position: right top;
  padding: 0% 12% 2% 0%;
  margin: 0% 0% 5% 0%;
}

.background-contatti {
  position: relative;
  display: inline-block;
  background-image: url("media/12.png");
  background-size: 32% auto;
  background-repeat: no-repeat;
  background-position: right top;
  padding: 0% 0.5% 2% 0%;
  margin: 2% 0% 0% 2%;
}

.background-dove {
  font-size: 120%;
}

.background-left {
  width: 25%;
  cursor: pointer;
}

.background-right {
  cursor: pointer;
}

/*
SECTION: grid containers
*/
.grid-container-landing {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-container-buttons {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 15%;
       column-gap: 15%;
  margin: 10% 0% 0% 0%;
}

.grid-container-formazione {
  display: grid;
  grid-template-columns: 30% 70%;
}

.grid-container-cs {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 7% 5% 0% 5%;
  font-size: 120%;
  line-height: 1.6;
}

.grid-container-titles {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5% 0% 0% 0%;
}

.grid-container-online {
  display: grid;
  grid-template-columns: 40% 60%;
  -moz-column-gap: 10%;
       column-gap: 10%;
  margin: 5% 5% 0% 5%;
  font-size: 140%;
  line-height: 1.6;
}

.grid-container-f {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 5% 5% 0% 5%;
  font-size: 120%;
  line-height: 1.6;
}

.grid-container-dove {
  display: grid;
  grid-template-columns: 60% 40%;
  -moz-column-gap: 10%;
       column-gap: 10%;
  margin: 2% 5% 0% 5%;
  font-size: 120%;
  line-height: 1.6;
}

.grid-container-contatti {
  display: grid;
  grid-template-columns: 70% 40%;
  font-size: 125%;
  line-height: 1.7;
}

.grid-container-titles {
  place-items: center;
}

.grid-container-landing {
  background-color: #C3C9AA;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container-buttons {
  background-color: #C3C9AA;
}

.grid-container-online > div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}

/*
SECTION: icons
*/
.titles-icons {
  width: 50%;
  height: auto;
  justify-self: end;
}

.logo {
  width: 30%;
  height: auto;
  padding: 16% 0 0 4%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.divano {
  width: 20%;
  height: auto;
  position: absolute;
  bottom: 15%;
  right: 10%;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.libri {
  width: 50%;
  height: auto;
  margin: 15% 0 0 0;
}

.protrait {
  width: 40%;
  height: auto;
  margin: 0 0 10% 0;
}

.bussola {
  width: 40%;
  height: auto;
}

.location {
  width: 50%;
  height: auto;
}

.windows {
  width: 60%;
  height: auto;
}

.icon-contatti {
  width: 60%;
  height: auto;
}

/*
SECTION: text
*/
.home {
  color: black;
  font-family: "Playfair Display";
  font-size: 400%;
  margin: 10% 10% 10% 10%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.subtitle {
  font-size: 50%;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  color: #482A0E;
  margin: 3% 3% 3% 3%;
}

.titles {
  font-size: 170%;
  font-weight: 600;
}

.titles-bigger {
  font-size: 200%;
  font-weight: 600;
}

.subtitles {
  font-size: 150%;
  font-weight: 600;
}

.text-formazione {
  margin: 5% 5% 5% 5%;
  line-height: 1.7;
  font-size: 120%;
  text-align: right;
}

/*
SECTION: containers
*/
.aboutme-container-green, .aboutme-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.aboutme-container-green {
  background-color: #C3C9AA;
}

.squared-container {
  background-color: #F3EDDA;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 3%;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 10% 0 10%;
}

.button {
  background-color: #F3EDDA;
  border-color: #F3EDDA;
  border-style: solid;
  font-size: 30%;
  color: #482A0E;
  border-radius: 10px;
  padding: 5% 0 5% 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
}

.distributed-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 120%;
}

.contact-container {
  margin: 0% 0% 3% 4%;
}

/*
SECTION: righe colorate
*/
.tile-1 {
  height: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  background-color: #FFFFF3;
}

.tile-2 {
  height: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  background-color: #F6F8E6;
}

.tile-3 {
  height: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  background-color: #ECEFD8;
}

.tile-4 {
  height: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  background-color: #E2E6CA;
}

.tile-5 {
  height: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  background-color: #D8DDBC;
}

/*
SECTION: utilities
*/
.right-aligned {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.left-aligned {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.center-aligned {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/*TODO: da sistemare*//*# sourceMappingURL=style.css.map */